<div class="row">
  <div class="offset-by-two eight columns text-center">
  <h2 class="registration_header">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <br/>
      <div class="registration_form">
        <div class="field">
          <%= f.label :User_name %>
          <%= f.text_field :username, autofocus: true %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <br/>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <br/>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <br/>
        <div class="actions">
          <input class="button-primary" type="submit" <%= f.submit "Sign up" %>
        </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>