<div class=" text-center six columns offset-by-three form">
  <h2 class="registration_form">Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="registration_form">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
        <br/>
      </div>
      <div class="actions">
        <br/>
        <input button class="button-primary" type="submit"<%= f.submit "Send me reset password instructions" %>
      </div>
  <% end %>
    <br/>
    <%= render "devise/shared/links" %>
    </div>
</div>
