<!DOCTYPE html>
<html>
<head>
  <title>Belcher - Find somewhe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400"/>
</head>
<body>
  <div class="nav-bar">
    <%= react_component ('Hamburger') %>
    <img class="icon" src='http://www.clipartbest.com/cliparts/9cp/oq6/9cpoq6rRi.png' />
    <h2 class="logo"><%= link_to 'Belcher', root_path %></h2>
    <% if user_signed_in? %>
      <p class="nav-link"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
      <p class="nav-link"><%= link_to 'Preferences' %></p>
      <p class="nav-link"><%= link_to 'Profile' %></p>
    <% else %>
      <p class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></p>
      <p class="nav-link"><%= link_to 'Log In', new_user_session_path %></p>
    <% end %>
  </div>
<% if alert %>
  <p class="flash alert"><%= alert %></p>  
<% end %>
<% if notice %>
  <p class="flash notice"><%= notice %></p>
<% end %>

<%= yield %>

</body>
</html>


